src/resources/test_data/xsd/bat/salami_slice.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="name" type="xs:string"/>
  <xs:element name="dob" type="xs:date"/>
  <xs:element name="age" type="xs:byte"/>
  <xs:element name="nobel" type="xs:string"/>
  <xs:element name="poet">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="name"/>
        <xs:element ref="dob"/>
        <xs:element ref="age"/>
        <xs:element ref="nobel"/>
      </xs:sequence>
      <xs:attribute type="xs:int" name="id"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="list">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="poet"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>